body,
html {
  margin: 0;
  padding: 0;
}

.movable-area {
  overflow: hidden;
  width: 750px;
  height: 750px;
  background-color: #888888;
}
.movable-view {
  width: 150px;
  height: 150px;
  background-color: #ffffff;
}