body,
html {
  margin: 0;
  padding: 0;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.layer-container {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.layer-base {
  height: 100vh;
  font-size: 48px;
  color: white;
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
}

.overlay {
  display: flex;
  flex-direction: column;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 3.2vh;
  border-radius: 30px 30px 0 0;
  background-color: #c9c9c9d3;

  color: white;
  font-size: 48px;
}

.overlay::before {
  content: "";
  position: absolute;
  top: 1.6vh;
  left: 50%;

  border-radius: 5px;
  width: 30%;
  height: 10px;

  background-color: white;
  transform: translateX(-50%);
}

.tab-list {
  display: flex;
  justify-content: space-around;
}

.tab {
  font-size: 32px;
  color: white;
}

.tab-content {
  padding: 1vh;
}

.tab-panel {
  height: 20vh;
  background-color: white;
}

.touch-end {
  transition: all 100ms ease;
}
